<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.somnia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/somniaicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/somniaicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.AlarmsActivity"/>
        <activity android:name=".view.Calculator"/>
        <activity android:name=".view.Calendar"/>
        <activity android:name=".view.ChangeEmail"/>
        <activity android:name=".view.ChangePassword"/>
        <activity android:name=".view.Charts"/>
        <activity android:name=".view.Home"/>
        <activity android:name=".view.InfoValuations"/>
        <activity android:name=".view.logInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.New_alarmActivity"/>
        <activity android:name=".view.PresentationAlarm"/>
        <activity android:name=".view.Settings"/>
        <activity android:name=".view.SignUpActivity"/>
        <activity android:name=".view.Valuations"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>